$color-supafan-green: #0c9e09;
$color-supafan-green-500: #0c9e09;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;

:root {
  --color-supafan-green: #0c9e09;
  --color-supafan-green-500: #0c9e09;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}
